    
body {
    background-color:#ffe8d5(231, 231, 231);
    padding: 20px;
    margin: 0 auto;
}

.container {

}

#bt {
    background-color: magenta;
    font-family: 'Courier New', Courier, monospace;
}

.smallColor {
    color: magenta;
}